body {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  color: black;
}


/*button */

.dropdown {
  display: inline-block;
  position:relative;
  margin-right: 10%;
}

.dd-button {
  margin-top: 3em;

  cursor: pointer;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  font-weight: 300;
  text-decoration: none;
  padding:14px 20px 14px 20px;
  border-radius: 3px;
  letter-spacing: 1px;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  margin-top: 3em;

  cursor: pointer;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  font-weight: 300;
  text-decoration: none;
  padding:14px 20px 14px 20px;
  border-radius: 3px;
  letter-spacing: 1px;
}


.dd-input {
  display: none;
  overflow: hidden;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.dd-input + .dd-menu {
  display: none;

}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
  text-decoration: none;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}


.about-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  padding-top: 2em;
}

.about-content {
  text-align: left;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-right: 8em;

}

.about-content-first {
  font-size: 22px;
}

.about-email-link {
  color: black;
}

.about-photo {
  width: auto;
  height: auto;
}

.active {
  display: block;
}

.back-to-top-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  padding-top: 40px;
}

.back-to-top-link {
  display: flex;
  align-items: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 0px;
  margin-top: 5px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 2px;
}

.case-studies-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #e01095;
  width: 80%;
  padding-top: 50px;
  letter-spacing: 2px;
}

.case-study-body {
  display:flex;
  justify-content:center;
  align-items: center;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 100px;
  margin-top: 0px;
}

.case-study-body-intro {
  display:flex;
  justify-content:center;
  align-items: center;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 0px;
  line-height: 30px;
  margin-top: 0px;
}

.case-study-body-key-insights {
  display:block;
  text-align: left;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 350;
  font-size: 18px;
  padding-bottom: 100px;
  margin-top: 0px;
  margin-left: 300px;
}

.case-study-title-key-insights {
  display:block;
  text-align: left;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 350;
  font-size: 18px;
  margin-top: 0px;
}

.case-study-body-hifi-prototype {
  display:flex;
  justify-content:center;
  align-items: flex-start;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 350;
  font-size: 18px;
  padding-bottom: 100px;
  margin-top: 0px;
}


.case-study-body-image-title {
  display:block;
  text-align: left;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 350;
  font-size: 18px;
  padding-bottom: 0px;
  margin-top: 0px;
}

.case-study-body-process {
  display:block;
  text-align: left;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 100px;
  margin-top: 0px;
}

.case-study-body-timeline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 150px;
  margin-top: -10px;
}

.case-study-homepage-cover-chocolates-plus {
  padding-top: 100px;
}

.case-study-homepage-cover-zeit {
  padding-top: 100px;
  padding-left: 50px;r
}

.case-study-title1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 0px;
  line-height: 0px;
}

.case-study-title2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 0px;
  line-height: 0px;
}

.case-study-title3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom:30px;
  line-height: 34px;
}

.case-study-title2-aspiration {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 20px;
  color: #1346B7;
}

.case-study-title2-chocolatesplus {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 20px;
  color: #A92B26;
}

.case-study-title2-zeit {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 20px;
  color: #FF9900;
}

.contact-info-page-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: .22px;
  padding-top: 30px;
  line-height: 5px;
}

.contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: .22px;
  margin-top: 0px;
  padding-top: 26px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #E24895;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-about {
  display:flex;
  justify-content: flex-start;
  width: 80%;
  padding-top: 80px;
  padding-bottom: 200px;

}

.container-arrow-down-pink {
  display: flex;
  justify-content: flex-start;
  padding-left: 67px;
  padding-top: 5px;
}

.container-bottom-footer {
  display:flex;
  flex-direction:column;
  padding-top: 70px;
}

.container-case-study {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
}

.container-case-study-bottom-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 200px;
}

.container-case-study-div {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.container-case-study-div-recent-work {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.container-card-case-studies {
  display:flex;
  flex-direction:column;
  width: 95%;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 60px;
}

.container-footer-contact {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  padding-bottom: 40px;
}

.contact-page-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px
}

.container-project-cover {
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
  height: 400px;
}
.container-tools {
  text-align: center;
  width: 100%;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #575757;
  text-align: center;
  margin-top: -10px;
}

.div-block {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content:flex-start;
}

.div-block1 {
  height: 450px;
  background-color: #F9F9F9;
}

.div-block2 {
  height: 450px;
  background-color: #F9F9F9;
}

.div-block3 {
  height: 450px;
  background-image: linear-gradient(#2f4361, #1f2c40);
}

.div-block4:hover {
  height: 450px;
background-color: #F0F0F0;
}

.div-block1:hover {
  height: 450px;
background-color: #F0F0F0;
}

.div-block2:hover{
  height: 450px;
background-color: #F0F0F0;
}

.div-block3:hover {
  height: 450px;
  background-image: linear-gradient(#2f4361, #1f2c40);
}

.div-block4 {
  height: 450px;
  background-color: #F9F9F9;
}

.email {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.footer-contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: .22px;
  padding-top: 30px;
  padding-bottom: 60px;
  line-height: 50px;
}

.gif_chocolatesplus {
  width: 80%;
  padding-right: 70px;
}

.gif_zeit {
  width: 80%;
  padding-right: 70px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 35px;
}

.header-my-role {
  padding-top: 150px;
}

.heading-intro {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 180px;
  padding-bottom: 160px;
}

.heading-first {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.heading-second {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 5px;
}

.heading-third {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 70px;
  line-height: 25px;
}

.heading-footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 180px;
  width: 100%;
}

.hifi-prototype {
  padding: 10px;
}

.link-social-media {
  padding: 17px;
}


.link-social-media-two {
  width: 5%;
  padding-left: 1em;
}

.link-block {
  text-decoration: none;
}

.logo {
  margin-left: 11%;
}

.img_lightbulb {
  width: 35%;
}

.mockup-aspiration-portfolio {
  padding-top: 25px;
  width: 185px;
  height: 100%;
  padding-right: 100px;
}

.mockup-chocolates-plus-portfolio {
  padding-top: 25px;
  width: 185px;
  height: 100%;
  padding-right: 100px;
}

.mockup-zeit-case-study {
  padding-top: 0px;
  width:80%
}

.mockup-zeit-portfolio {
  padding-top: 25px;
  width: 185px;
  height: 100%;
  padding-right: 100px;
}

.nav-links {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
  padding: 20px;
  letter-spacing: 2px;
}

.nav-links:hover {
  text-decoration: underline;
}

.nav-list {
display:flex;
justify-content: flex-end;
margin-top: -20px;
}

.section1 {
  height:450px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section2 {
  height:450px;
  padding-top: 25px;
  padding-bottom: 25px;

}

.section3 {
  height:450px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section4 {
  height:450px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section4 a.link-block:hover {
    background-color: #F0F0F0;
}

.social-media-links {
  display: flex;
  justify-content: center;
}

.title-about-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: .22px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.zeit-homepage-container-title {
font-size: 32px;
color: black;
padding-top: 20px;
margin-bottom: -15px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}

.zeit-prototype-link {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


#container-header-zeit-case-study {
  background: url("images/header-image-zeit-case-study.png") no-repeat;
}


#email-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  font-weight: 300;
  text-decoration: none;
  padding:16px 25px 16px 25px;
  border-radius: 3px;
  letter-spacing: 1px;
}

#email-link:hover {
  color: black;
  background-color: white;
  border-width: 2px;
  border-style: solid;
}

#header-background-zeit-case-study {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  height: 600px;
  padding-top: 35px;
}

#header-filler-case-study {
  width: 50px;
  background-color:white;
}

#header-title-case-study {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
}

#header-subtitle-aspiration-study {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #1346B7;
}

#header-subtitle-aspiration-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color:#1346B7;
}

#header-subtitle-chocolates-plus-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #A92B26;
}


#header-subtitle-zeit-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #FF9900;
}

#header-body-text-case-study {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 5px;
  font-weight: 300;
}

#link-github {
  color: #575757;
}

#link-invision-prototype {
  color: #575757;
}

#hamburger {
  display: none;
  width: 100px;
  height: 110px;
}

#heading-first-pink {
  color: #E24895;
}

#heading-third-header {
  font-weight: 600;
  text-decoration: underline;
}

#highlighted-nav {
  font-weight: 600;
}

#nav-list-hidden {
  display: none;
  align-items: center;
  margin-bottom: -10em;

}

#nav-list-links-hidden {
  display: none;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #000000;
  align-items: center;
  letter-spacing: 2px;
  margin-bottom: -10em;
  background-color: white;
  height: 600px;
  z-index: 2;
}

#nav-list-links-hidden li {
  text-align: center;
  padding: 30px;
  background-color: white;
  position: relative;
  z-index: 2;
}

#next-case-study-link {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e01095;
  align-items:flex-end;
  padding-bottom: 8px;
  text-decoration: none;
}

#next-case-study-link:hover {
    color: black;
}
#text-header-case-study {
  margin-top: 30px;
  margin-bottom: 50px;

}

@media only screen and (min-width: 320px) and (max-width: 1100px) {

  .about-paragraph {
    width:100%;

  }

  .about-photo {
    width: auto;
    height: auto;
    padding-top: 2em;
  }
  
  .container-case-study-div-recent-work{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container-about {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 200px;
    margin-left: 2em;

  }

  .case-study-body-key-insights {
    display:block;
    text-align: left;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
    font-size: 18px;
    padding-bottom: 100px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .case-study-title2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 0px;
    line-height: 40px;

  }

  .case-study-title2-aspiration {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 18px;
  }


  .case-study-homepage-cover-chocolates-plus {
    text-align: center;
    width: 100%;
    padding-top: 5px;

  }

  .case-study-homepage-cover-zeit {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-left: 0px;

  }

  .contact-page-info {
    display: flex;
    flex-direction:column;
    width: 80%;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 2px;
  }


  .container-case-study-bottom-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 200px;

  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-bottom: 5px;
  }

  .container-project-cover {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    height: 400px;
  }

  .dropdown {
    display: inline-block;
    position:relative;
    margin-right: 20%;
  }

  .filler-container {
    display: none;
  }

  .footer-contact-info {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .22px;
    line-height: 50px;
  }

  .header {
    width: 80%;
  }

  .header-my-role {
    padding-top: 0px;
  }

  .heading-first {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
  }

  .heading-second {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 5px;
  }

  .heading-third {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 50px;
    line-height: 25px;
  }

  .heading-intro {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 40px;

  }


  .img_lightbulb {
    width: 50%;
  }

  .mockup-aspiration-portfolio {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  .mockup-chocolates-plus-portfolio {
    display: flex;
    width: 100px;
    height: 175px;
    margin: 0 auto;
  }

.mockup-zeit-portfolio {
  display: flex;
  width:100px;
  height: 100px;
  margin: 0 auto;
}

  .nav-list li {
  text-align: center;
  padding: 30px;
  }

  .nav-list{
    display: none;
    width: 100%;
  }

  .about-content {
    text-align: left;
    Margin-left: 0px;
  }

  .mockup-aspiration-portfolio {
    padding-top: 25px;
    width: 100px;
    height: 55%;
  }

  .mockup-chocolates-plus-portfolio {
    padding-top: 25px;
    width: 100px;
    height: 55%;
  }

  .mockup-zeit-portfolio {
    padding-top: 25px;
    width: 100px;
    height: 55%;
  }

  .nav-links {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #000000;
    padding: 50px;
    letter-spacing: 2px;
  }

  .nav-links:hover {
    text-decoration: underline;
  }


  .zeit-homepage-container-title {
  font-size: 28px;
  color: black;
  padding-top: 0px;
  margin-bottom: -15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  }

  #hamburger {
    display: block;
    padding-top: 1px;
    margin-left: auto;
    padding-right: 0px;
    cursor: pointer;
  }

  #header-title-case-study {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
  }

  #header-filler-case-study {
    display: none;
  }

  #nav-list-hidden {
    display: none;
    width: 100%;
  }

  #nav-list-links-hidden {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #000000;
    align-items: center;
    letter-spacing: 2px;
  }

  #email-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
    font-weight: 300;
    text-decoration: none;
    padding:16px 25px 16px 25px;
    border-radius: 3px;
    letter-spacing: 1px;
  }

  #email-link:hover {
    color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
  }


    }
